.en_tete{
    font-family: monospace;
    position: static;
    background-color: navy;
    font: bold;
    text-align: center;
    color: white;
    font-size: xx-large;
    transition: 0.5s;
    animation: alternate-reverse;
    position: sticky;
    top: 0;
}

.headlinks span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
    padding-left: 1%;
    padding-right: 1%;
}
.headlinks span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.link:hover{
    background-color: white;
    animation: both;
    color: navy;
    animation: backwards;
    transition: all;
    font-size: larger;
}


.bloc{
    padding-top: 4%;
    display: inline-block;
    margin-bottom: 5%;
}

.titre{

    width: 20%;
    padding-left: 4%;
    padding-top: 4%;
    display: flex;
    background-color: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
    text-align: right;
    border-radius: 4%;
    animation: forwards;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    float: left;
    width: 20%;
}

.titre span{

    font-size:5vw;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: ultra-expanded;
    animation: infinite;
    transition: ease-in-out;
}

.carrousel{
    padding-left: 4%;
    float: left;
    width: 70%;
    position: relative;
    height: fit-content;
    animation: backwards;
    transition: all;
}

.imageswap{
    padding: 1%;
    position:inherit;
    height: 40%;
    width: 20%;
    border-radius: 35px;
    transition: 0.5s;
}

.imageswap:hover{
    padding-left: 1%;
    transition: 0.5s;
    animation: backwards;
    position: static;
    width: 21%;
    height: 41;
    
}

.centerblock{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.icone{
    height: 10%;
    width: 10%;
    transition: ease-in-out;
    animation: infinite;
}

.newsblock{
    display: block;
    border-style: hidden;
}

.newstext{
    font-size: 7vw;
    padding-top: 3%;
    float: left;
    -webkit-text-stroke-color: linear-gradient(to right, #ffffff 0%, #000000 100%);
    font-family: monospace;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
	-webkit-text-fill-color: transparent;
}

.newstext span{
    background-image: linear-gradient(to right, #ffffff 0%, #f3f3f3 100%);
    border: #FFFFFF;
    border-radius: 15px;
}

.bulles{
    float: left;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px #aaaaaa62;
    text-align: center;
    height: 25vw;
    width: 30%;
    transition: all;
    animation: infinite;
}

.bulletittle{
    border-radius: 10px;
    border: #00000000;
    background-image: linear-gradient(to bottom, #ffffff 0%, #0090e9 100%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.454);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 3vw;
    transition: 5ms;
    animation: backwards;

}

.bulletittle:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00000071;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.bulletittle:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.screen{
    height: 50%;
    width: 100%;
    margin-top: 10%;
    font-size: large;
    color: greenyellow;
    background-color: black;
    font-family: monospace;
    font-style: normal;
    font-variant: small-caps;
    font-weight: lighter;
    border-radius: 10%;
    border: springgreen;
    border-style: ridge;
    text-align: center;
    transition: all;
}
.form{
    font-family: monospace;
    font-style: normal;
    font-variant: small-caps;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 20%;
}
.inputform{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transition: all;
    border-radius: 10%;
}

.button {
    background-color: #00000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-overflow: clip;
    font-size: 3vw;
    
    animation: both;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
  
.button span {
    cursor: pointer;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    animation: infinite;
}
  
.button span:after {
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    background-color: #fcfcfcf7;
    color: navy;
    text-shadow: #000000;
    scale: 1.2;
    transition: all;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
    transition: 5ms;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
}